<div class="text-center">
    <h2>Course Plan</h2>
</div>

@model ProjectEvaluation.Models.PlanModel

<h4>Sem 1</h4>
<table cellspacing="8" align="left" cellpadding="30" border="0">
    <tr>
        <th>Course</th>
        <th>Name</th>
        <th>Credits</th>
    </tr>
    @for (int i = 0; i < PlanModel.Sem1Count; i++)
    {
        <tr>
            <th>@PlanModel.Sem1Codes[i]</th>
            <th>@PlanModel.Sem1Names[i]</th>
            <th>@PlanModel.Sem1Credits[i]</th>
        </tr>
    }
</table>

<div style="clear:both;"></div>
<br>
<br>

<h4>Sem 2</h4>
<table cellspacing="8" align="left" cellpadding="30" border="0">
    <tr>
        <th>Course</th>
        <th>Name</th>
        <th>Credits</th>
    </tr>
    @for (int i = 0; i < PlanModel.Sem2Count; i++)
    {
        <tr>
            <th>@PlanModel.Sem2Codes[i]</th>
            <th>@PlanModel.Sem2Names[i]</th>
            <th>@PlanModel.Sem2Credits[i]</th>
        </tr>
    }
</table>

<div style="clear:both;"></div>
<br>
<br>

<h4>Sem 3</h4>
<table cellspacing="8" align="left" cellpadding="30" border="0">
    <tr>
        <th>Course</th>
        <th>Name</th>
        <th>Credits</th>
    </tr>
    @for (int i = 0; i < PlanModel.Sem3Count; i++)
    {
        <tr>
            <th>@PlanModel.Sem3Codes[i]</th>
            <th>@PlanModel.Sem3Names[i]</th>
            <th>@PlanModel.Sem3Credits[i]</th>
        </tr>
    }
</table>

<div style="clear:both;"></div>
<br>
<br>

<h4>Sem 4</h4>
<table cellspacing="8" align="left" cellpadding="30" border="0">
    <tr>
        <th>Course</th>
        <th>Name</th>
        <th>Credits</th>
    </tr>
    @for (int i = 0; i < PlanModel.Sem4Count; i++)
    {
        <tr>
            <th>@PlanModel.Sem4Codes[i]</th>
            <th>@PlanModel.Sem4Names[i]</th>
            <th>@PlanModel.Sem4Credits[i]</th>
        </tr>
    }
</table>

<div style="clear:both;"></div>
<br>
<br>

<h4>Sem 5</h4>
<table cellspacing="8" align="left" cellpadding="30" border="0">
    <tr>
        <th>Course</th>
        <th>Name</th>
        <th>Credits</th>
    </tr>
    @for (int i = 0; i < PlanModel.Sem5Count; i++)
    {
        <tr>
            <th>@PlanModel.Sem5Codes[i]</th>
            <th>@PlanModel.Sem5Names[i]</th>
            <th>@PlanModel.Sem5Credits[i]</th>
        </tr>
    }
</table>

<div style="clear:both;"></div>
<br>
<br>

<h4>Sem 6</h4>
<table cellspacing="8" align="left" cellpadding="30" border="0">
    <tr>
        <th>Course</th>
        <th>Name</th>
        <th>Credits</th>
    </tr>
    @for (int i = 0; i < PlanModel.Sem6Count; i++)
    {
        <tr>
            <th>@PlanModel.Sem6Codes[i]</th>
            <th>@PlanModel.Sem6Names[i]</th>
            <th>@PlanModel.Sem6Credits[i]</th>
        </tr>
    }
</table>

<div style="clear:both;"></div>
<br>
<br>

<h4>Sem 7</h4>
<table cellspacing="8" align="left" cellpadding="30" border="0">
    <tr>
        <th>Course</th>
        <th>Name</th>
        <th>Credits</th>
    </tr>
    @for (int i = 0; i < PlanModel.Sem7Count; i++)
    {
        <tr>
            <th>@PlanModel.Sem7Codes[i]</th>
            <th>@PlanModel.Sem7Names[i]</th>
            <th>@PlanModel.Sem7Credits[i]</th>
        </tr>
    }
</table>

<div style="clear:both;"></div>

<h4>Sem 8</h4>
<table cellspacing="8" align="left" cellpadding="30" border="0">
    <tr>
        <th>Course</th>
        <th>Name</th>
        <th>Credits</th>
    </tr>
    @for (int i = 0; i < PlanModel.Sem8Count; i++)
    {
        <tr>
            <th>@PlanModel.Sem8Codes[i]</th>
            <th>@PlanModel.Sem8Names[i]</th>
            <th>@PlanModel.Sem8Credits[i]</th>
        </tr>
    }
</table>

<div style="clear:both;"></div>